* {
  font-family: monospace;
}

window#waybar {
  background-color: black;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  border: 1px solid black;
  background: black;
}

#workspaces button {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;

  padding: 0 0.5rem;
  border: 1px solid black;
  color: #5c5c5c;
}

/* #workspaces button.active { */
#workspaces button.focused {
  border: 1px solid #4c7899;
  background-color: #285577;
  color: white;
}

#battery,
#pulseaudio,
#clock,
#tray {
  margin-right: 1rem;
}

#tray menu {
  border: 1px solid #4c7899;
  background-color: #285577;
  border-radius: 0px;
  font-family: sans-serif;
}

#tray menu > *:hover {
  background-color: #4c7899;
  border-radius: 0px;
  font-family: sans-serif;
}

#tray menu > separator {
  background-color: #4c7899;
}

#tray menu > * {
  font-family: sans-serif;
  padding: 0;
}

tooltip {
  border: 1px solid #4c7899;
  background-color: #285577;
  border-radius: 0px;
  font-family: sans-serif;
}
