" .ideavimrc is a configuration file for IdeaVim plugin. It uses
" the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc
" Map IDE actions to IdeaVim -- https://jb.gg/abva4t

let mapleader = " "

set relativenumber
set number
set scrolloff=5 sidescrolloff=10

set ignorecase
set smartcase
set incsearch
set wrapscan

" Don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

set ideajoin
set commentary
set surround
set NERDTree

" which-key is a separate plugin
" set which-key
set notimeout
let g:WhichKey_ShowVimActions = "true"

set highlightedyank
let g:highlightedyank_highlight_color = "rgba(160, 160, 160, 155)"

set vim-multiple-cursors
nmap <C-n> <Plug>NextWholeOccurrence
xmap <C-n> <Plug>NextWholeOccurrence
nmap g<C-n> <Plug>NextOccurrence
xmap g<C-n> <Plug>NextOccurrence
xmap <C-x> <Plug>SkipOccurrence
xmap <C-p> <Plug>RemoveOccurrence

map Q <Action>(ReformatCode)

" best way to save
nmap <leader>w <Action>(SaveAll)

" Move lines up and down
vmap <S-J> <Action>(MoveLineDown)
vmap <S-K> <Action>(MoveLineUp)

" Move between issues/errors
nmap ]e <Action>(GotoNextError)
nmap [e <Action>(GotoPreviousError)

nnoremap gu <Action>(ShowUsages)
nnoremap <leader>oi :action OptimizeImports<CR>
nnoremap <leader>r <Action>(Refactorings.QuickListAction)
